body {
  padding-top: 50px;
}

.ajax-notice {
	display: none;
	margin-bottom: 10px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-collapse .search {
	margin-top: 8px;
	width: 350px;
	float: right;
}

.navbar-collapse #container {
	display: block;
	position: relative;
}

.current-game {
	text-align: left;
	width: 520px;
	margin-left: 170px;
	display: none;
}

.current-game .button-controls {
	/*padding-left: 480px;*/
	float: right;
}

.current-game button {
	display: inline;
}

.hidden {
	display: none;
}

.inline-edit, .mass-actions {
	display: none;
}

.home .row {
	margin-bottom: 20px;
}

.home .home-section {
	border: 2px solid #eee;
	border-radius: 5px;
	padding: 10px;
}

.all-games .row {
	padding: 10px 0;
	border-bottom: solid #636363 1px;
}

.all-games .row.thead {
	background-color: #f5f5f5;
	padding-bottom: 4px;
}

.all-games .row.table-meta .filter-container {
	padding-right: 0;
}

.all-games .row.thead > div {
	font-weight: bold;
}

.all-games .row.single-game {
	
}

.all-games div.row.hover {
	background-color: #eeeeea;
}

.all-games {
	text-align: left;
}

.all-games .delete-ctrl,
.all-games .edit-ctrl {
	cursor: pointer;
}

.all-games .row.single-game input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
.all-games .row.single-game input[type='checkbox']:checked {
    background: #abd;
}

.clear {
	clear: both;
}

.form-group:not(:last){
	margin-bottom: 20px;
}

.form-group label {
	width: 100px;
	float: left;
	text-align: right;
	margin-right: 20px;
	line-height: 14px;
	padding-top: 9px;
}

.form-group input {
	width: 400px;
	float: left;
}

.ui-autocomplete {
	position: absolute;
	left: 0;
	z-index: 2000;
	float: left;
	display: none;
	min-width: 160px;
	_width: 160px;
	padding: 4px 0;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
	color: #ffffff;
	text-decoration: none;
	background-color: #0088cc;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-image: none;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
	border: none;
	background: #428bca;
	color: #fff;
}