body {
  padding-top: 50px;
}

button:focus {
	outline: 0 !important;
}

.clear {
	clear: both;
}

.modal-content {
	display: none;
}

.no_right_padding {
	padding-right: 0;
}

.ajax-notice {
	display: none;
	margin-bottom: 10px;
	text-align: center;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-nav.right {
	float: right;
}

.navbar-collapse .search {
	margin-top: 8px;
	width: 350px;
	padding-right: 20px;
}

.navbar-collapse .search-container {
	position: relative;
}

.navbar-collapse .search-container a.clear-icon {
	position:absolute;
	top: 18px;
	right: 5px;
	color: #777;
	padding: 0;
	text-shadow: none;
}

.navbar-collapse .search-container a.clear-icon:hover {
	color: #BDBDBD;
}

.navbar-collapse .search-container a.clear-icon:active,
.navbar-collapse .search-container a.clear-icon:focus {
	color: #777;
}

.navbar-collapse .search-container a.clear-icon .glyphicon {
	top:0;
	font-size: 16px;
}

.navbar-collapse .new-game-button-container {
	margin-right: 10px;
}

.navbar-collapse .new-game-button-container button {
	margin-top: 8px;
}

.navbar-collapse #container {
	display: block;
	position: relative;
}

.hidden {
	display: none;
}

.inline-edit, .mass-actions {
	display: none;
}

.home .row {
	margin-bottom: 20px;
}

.home .home-section {
	border: 2px solid #eee;
	border-radius: 5px;
	padding: 10px;
}

.home .home-section.recently-added h4,
.home .home-section.to-play h4{
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: left;
}

.home .home-section.recently-added span,
.home .home-section.to-play span{
	display: inline-block;
}

.home .home-section.recently-added span.title,
.home .home-section.recently-added span.title-header,
.home .home-section.to-play span.title,
.home .home-section.to-play span.title-header{
	float: left;
}

.home .home-section.recently-added span.date,
.home .home-section.recently-added span.date-header,
.home .home-section.to-play span.order,
.home .home-section.to-play span.order-header{
	float: right;
}

.home .home-section.recently-added span.title-header,
.home .home-section.to-play span.title-header,
.home .home-section.recently-added span.date-header,
.home .home-section.to-play span.order-header{
	font-weight: bold;
}

.home .home-section.recently-added span.date-header{
	margin-right: 54px;
}

.home .home-section.to-play span.order,
.home .home-section.to-play span.order-header {
	width: 132px;
	text-align: left;
}

.all-games .table-meta div.pagination-controls {
	padding-top: 9px;
	padding-left: 0px;
}

.all-games .table-meta div.pagination-controls .page-label {
	font-size: 14px;
	vertical-align: top;
}

.all-games .table-meta div.pagination-controls .page-label.page-counter {
	width: 80px;
	display: inline-block;
}

.all-games .table-meta div.pagination-controls .page-control {
	font-size: 20px;
	background: transparent;
	border: none;
	padding: 0;
}

.all-games .table-meta div.pagination-controls .page-control:hover {
	/*color: #777;*/
	color: #337ab7;
}

.all-games .table-meta div.pagination-controls .page-control.prev-page,
.all-games .table-meta div.pagination-controls .page-control.next-page {
	top: 1px;
}

.all-games .table-meta div.pagination-controls .page-control.first-page,
.all-games .table-meta div.pagination-controls .page-control.last-page {
	top: 0px;
}

.all-games .table-meta div.pagination-controls .page-control.prev-page {
	margin-left: -8px;
}

.all-games .table-meta div.pagination-controls .page-control.next-page {
	margin-right: -8px;
}

.all-games .table-meta div.mass-actions .dropdown {
	display: inline-block;
}

.all-games .table-meta div.mass-actions .dropdown .dropdown-header {
	text-transform: uppercase;
}

.all-games .table-meta div.mass-actions .show-extra-mass-opts {
	top: 0px;
	font-size: 18px;
	padding: 4px 12px 3px 12px;
}

.all-games .row:not(:last-child) {
	padding: 10px 0;
	border-bottom: solid #636363 1px;
}

.all-games .row.thead {
	background-color: #f5f5f5;
	padding-bottom: 4px;
}

.all-games .row.thead > div {
	font-weight: bold;
	cursor: pointer;
}

.all-games .row.table-meta .num_results {
	display: inline-block;
	padding-top: 10px;
	font-size: 12px;
}

.all-games .row.table-meta .filter-container {
	padding-right: 0;
	position: relative;
}

.all-games .row.table-meta .filter-container input {
	padding-right: 24px;
}

.all-games .row.table-meta .filter-container a.clear-icon {
	position:absolute;
	top: 11px;
	right: 6px;
	color: #777;
	padding: 0;
}

.all-games .row.table-meta .filter-container a.clear-icon:hover {
	color: #BDBDBD;
}

.all-games .row.table-meta .filter-container a.clear-icon:active,
.all-games .row.table-meta .filter-container a.clear-icon:focus {
	color: #777;
}

.all-games .row.table-meta .filter-container a.clear-icon .glyphicon {
	top:0;
	font-size: 16px;
}

.all-games .row.table-meta .filter-container a.show-info-icon {
	position:absolute;
	top: 10px;
	left: -11px;
	color: #777;
	padding: 0;
}

.all-games .row.table-meta .filter-container a.show-info-icon:hover {
	color: #BDBDBD;
}

.all-games .row.table-meta .filter-container a.show-info-icon:active,
.all-games .row.table-meta .filter-container a.show-info-icon:focus {
	color: #777;
}

.all-games .row.table-meta .filter-container a.show-info-icon .glyphicon {
	top:0;
	font-size: 16px;
}

.all-games .row.single-game {
	
}

.all-games div.row.single-game:hover {
	background-color: #eeeeea;
}

.all-games {
	text-align: left;
}

.all-games .delete-ctrl,
.all-games .edit-ctrl {
	cursor: pointer;
}

.all-games .row.thead div{
	padding-top: 5px;
}

.all-games .row.thead div.select-all {
	padding-top: 0px;
}

.all-games .row input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
    outline: 0;
}
.all-games .row input[type='checkbox']:checked {
    /*background: #abd;*/
    background: #555;
}

.massupdate .modal-body h4 {
	display: inline-block;
	margin: 0 48px 0 0;
	width: 400px;
	float: right;
}

.massupdate .form-group:last-child{
	margin-bottom: 0px;
}

.mass-merge .modal-body .merge-field {
	margin-top: 15px;
	display: block;
}

.mass-merge .modal-body .merge-field h4{
	margin: 0;
}

.mass-merge .modal-body .merge-fill-in {
	float: left;
	display: block;
	width: auto;
}

.mass-merge .modal-body input[type='text'].merge-fill-in {
	margin-left: 5px;
	width: 300px;
}

.modal {
	position: absolute;
}

.modal-body {
	overflow-y: scroll;
	max-height: 500px;
}

.modal-content .select2-container {
	width: 400px !important;
}

.modal-content .select2-container--default .select2-selection__choice {
	background-color: #337ab7;
	border: none;
	color: #fff;
}

.modal-content .select2-container--default .select2-selection__choice .select2-selection__choice__remove {
	color: #fff;
}

.modal-content .select2-container--default .select2-selection__choice .select2-selection__choice__remove:hover {
	color: #d9534f;
}

.form-group:not(:last-child){
	margin-bottom: 20px;
}

.form-group label {
	width: 100px;
	float: left;
	text-align: right;
	margin-right: 20px;
	line-height: 14px;
	padding-top: 9px;
}

.form-group input {
	width: 400px;
	float: left;
}

.ui-autocomplete {
	position: absolute;
	left: 0;
	z-index: 2000;
	float: left;
	display: none;
	min-width: 160px;
	_width: 160px;
	padding: 4px 0;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover,
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
	color: #ffffff;
	text-decoration: none;
	background-color: #0088cc;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-image: none;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
	border: none;
	background: #428bca;
	color: #fff;
}

.growl {
	opacity: 1.0;
	filter: alpha(opacity=100);
	min-width: 200px;
	min-height: 75px;
}

.growl.growl-error {
	background: #d9534f;
}

.growl.growl-notice {
	background: #5cb85c;
}

.growl.growl-warning {
	background: #f0ad4e;
}